* {
  box-sizing: border-box; }

html, body {
  font-size: 1rem;
  font-family: futura-pt, sans-serif;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background: black; }

a {
  color: black;
  text-decoration: none; }

.root {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; }

.root > header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-transform: uppercase;
  transition: all .25s ease-in;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); }
  .root > header:hover {
    background: white; }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > header {
      top: 0;
      bottom: auto;
      flex-direction: row;
      justify-content: flex-start; } }
  .root > header h1 {
    margin: 2rem 2rem 1rem;
    height: 0;
    overflow: hidden;
    padding: 3rem 2.5rem 0;
    background: url(/kuokoa.svg) no-repeat center center;
    background-size: contain;
    flex: 1;
    color: transparent; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > header h1 {
        background-position: left center;
        margin: 2rem;
        padding-top: 2rem; } }
  .root > header menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0; }
    .root > header menu a {
      font-size: 1.1rem;
      flex: 1;
      text-align: right;
      display: block;
      padding: 1rem 1rem 2rem;
      background-color: white;
      color: black;
      font-weight: normal;
      height: 5rem;
      line-height: 1rem;
      transition: background-color .2s ease-in, color .2s ease-in; }
      @media (min-width: 44em) and (min-height: 44em) {
        .root > header menu a {
          height: 6rem;
          line-height: 2rem;
          padding: 2rem; } }
      .root > header menu a:last-child {
        text-align: left; }
      .root > header menu a:hover {
        background-color: black;
        color: white; }

aside.tagline {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  aside.tagline > * {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  aside.tagline aside {
    background: black url(/jon_jungle.jpg) no-repeat center center;
    background-size: cover; }
  aside.tagline p {
    margin-top: -8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    aside.tagline p span {
      background: rgba(0, 0, 0, 0.75);
      color: white;
      font-size: 1.4rem;
      text-shadow: 0 0 1rem black;
      max-width: 18em;
      line-height: 1.4;
      font-weight: 400;
      padding: 1rem 2rem;
      margin-top: -2rem;
      text-align: left; }
      @media (min-width: 44em) and (min-height: 44em) {
        aside.tagline p span {
          font-size: 4vw;
          max-width: 76vw;
          text-align: justify; } }

h2 {
  position: relative; }
  h2 span {
    font-size: .5em;
    font-weight: 500;
    line-height: 1;
    display: block;
    color: rgba(0, 0, 0, 0.25); }

.root > article {
  background: #eee;
  position: relative;
  min-height: 100vh; }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > article {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .root > article .branches {
    z-index: 2;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > article .branches {
        padding: 6rem 0; } }
    .root > article .branches img.aside {
      z-index: 1;
      position: relative;
      width: 75%;
      height: auto;
      min-height: 22rem;
      object-fit: cover; }
      .root > article .branches img.aside.desktop {
        align-self: flex-end; }
      .root > article .branches img.aside.table {
        align-self: flex-start; }
    .root > article .branches .branch {
      z-index: 2;
      position: relative;
      text-align: center;
      box-sizing: border-box;
      margin: 2rem;
      margin-bottom: 0; }
      @media (min-width: 44em) and (min-height: 44em) {
        .root > article .branches .branch {
          margin: 0; } }
      .root > article .branches .branch > section {
        min-height: 14rem;
        background: white;
        color: black;
        padding: 0;
        transition: all .2s ease-in;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > article .branches .branch > section {
            align-items: flex-start; } }
        .root > article .branches .branch > section h2 {
          text-align: center;
          font-size: 3rem;
          letter-spacing: -.05em;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0;
          line-height: 1;
          transition: all .2s ease-in;
          width: 100%;
          padding: 2rem 2rem 0;
          color: black; }
          @media (min-width: 44em) and (min-height: 44em) {
            .root > article .branches .branch > section h2 {
              text-align: left; } }
        .root > article .branches .branch > section p {
          text-align: center;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.4;
          margin: 0;
          padding: 2rem;
          max-width: 18em; }
          @media (min-width: 44em) and (min-height: 44em) {
            .root > article .branches .branch > section p {
              text-align: left; } }
        .root > article .branches .branch > section ul {
          transition: all .2s ease-in;
          list-style: none;
          font-size: .8em;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0 2rem 2rem; }
          @media (min-width: 44em) and (min-height: 44em) {
            .root > article .branches .branch > section ul {
              flex-direction: row; } }
          .root > article .branches .branch > section ul li {
            color: #bbb;
            transition: all .2s ease-in;
            font-style: italic;
            padding: 0 2.4rem 0.6rem;
            line-height: 1.2; }
            @media (min-width: 44em) and (min-height: 44em) {
              .root > article .branches .branch > section ul li {
                padding-left: 0; } }
            .root > article .branches .branch > section ul li a {
              transition: all .2s ease-in;
              color: rgba(0, 0, 0, 0.75);
              font-style: normal;
              border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
      .root > article .branches .branch.design {
        align-self: flex-start;
        margin-bottom: -2rem; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > article .branches .branch.design > section {
            border-bottom-right-radius: 0; } }
        .root > article .branches .branch.design h2 {
          color: #00C1FF;
          border-color: #00C1FF; }
        .root > article .branches .branch.design a:hover {
          color: #00C1FF; }
      .root > article .branches .branch.studio {
        align-self: flex-start;
        margin-top: -4rem; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > article .branches .branch.studio > section {
            border-top-right-radius: 0; } }
        .root > article .branches .branch.studio h2 {
          color: #FF0081;
          border-color: #FF0081; }
        .root > article .branches .branch.studio a:hover {
          color: #FF0081; }
      .root > article .branches .branch.trade {
        align-self: flex-end;
        margin-top: 2rem;
        margin-bottom: -4rem; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > article .branches .branch.trade > section {
            border-bottom-left-radius: 0; } }
        .root > article .branches .branch.trade h2 {
          color: #FFBE00;
          border-color: #FFBE00; }
        .root > article .branches .branch.trade a:hover {
          color: #FFBE00; }
      .root > article .branches .branch.press {
        align-self: flex-end;
        margin-top: -2rem; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > article .branches .branch.press > section {
            border-top-left-radius: 0; } }
        .root > article .branches .branch.press a:hover {
          color: black; }
      @media (min-width: 44em) and (min-height: 44em) {
        .root > article .branches .branch.trade > section, .root > article .branches .branch.press > section {
          align-items: flex-end; }
        .root > article .branches .branch.trade h2, .root > article .branches .branch.trade p, .root > article .branches .branch.press h2, .root > article .branches .branch.press p {
          text-align: right; }
        .root > article .branches .branch.trade ul, .root > article .branches .branch.press ul {
          justify-content: flex-end; }
          .root > article .branches .branch.trade ul li, .root > article .branches .branch.press ul li {
            padding-right: 0;
            padding-left: 2.4rem; } }

.root > footer {
  position: relative;
  z-index: 10;
  background: black;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 6rem 3.6rem; }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > footer {
      display: flex;
      flex-direction: row;
      flex-direction: row-reverse; } }
  .root > footer a {
    color: white;
    display: block;
    padding: 0.3rem 0.6rem;
    text-transform: uppercase; }
  .root > footer aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > footer aside.external {
        justify-content: center; } }
    .root > footer aside.external img {
      height: 6rem; }
    .root > footer aside.external .kii {
      width: 100%; }
    .root > footer aside.external .linkedin {
      background: url(../linkedin.svg) no-repeat center center;
      background-size: 90% auto; }
    .root > footer aside.external .github {
      background: url(../github.svg) no-repeat center center;
      background-size: 90% auto; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > footer aside.meta {
        display: flex;
        justify-content: center; } }
    .root > footer aside.meta .content {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 44em) and (min-height: 44em) {
        .root > footer aside.meta .content {
          font-size: 1.4rem; } }
      .root > footer aside.meta .content img {
        opacity: 1;
        height: 1.4rem;
        margin: 0.6rem 0; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > footer aside.meta .content img {
            margin-right: 1.2rem;
            height: 3rem; } }
      .root > footer aside.meta .content p {
        margin: 0; }
