* {
  box-sizing: border-box; }

html, body {
  font-size: 1rem;
  font-family: futura-pt, sans-serif;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

a {
  color: black;
  text-decoration: none; }

body {
  background: black url(h3.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover; }

.root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

@media (min-width: 44em) and (min-height: 44em) {
  .root > header,
  .root > footer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1; } }

.root > header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-transform: uppercase;
  transition: all .25s ease-in;
  background: rgba(255, 255, 255, 0.95); }
  .root > header:hover {
    background: white; }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > header {
      top: 0;
      bottom: auto;
      flex-direction: row;
      justify-content: flex-start; } }
  .root > header h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem 2.5rem; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > header h1 {
        padding-top: 2rem;
        justify-content: flex-start;
        flex: auto; } }
    .root > header h1 img {
      display: block;
      height: 2rem; }
  .root > header menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0; }
    .root > header menu a {
      font-size: 1.1rem;
      flex: auto;
      text-align: right;
      display: block;
      padding: 1rem;
      color: black;
      font-weight: normal;
      height: 4rem;
      line-height: 2rem;
      transition: all .2s ease-in; }
      @media (min-width: 44em) and (min-height: 44em) {
        .root > header menu a {
          height: 6rem;
          padding: 2rem; } }
      .root > header menu a:last-child {
        text-align: left; }
      .root > header menu a:hover {
        background: black;
        color: white; }

.root > footer {
  bottom: 0;
  top: auto; }

.root > article {
  width: 100vw;
  min-height: 100vh; }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > article {
      padding: calc(6rem + 1.2rem) 1.2rem calc(12rem + 1.2rem);
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > article .branches {
      min-height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 1.2rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr); } }
  .root > article .branches .branch {
    text-align: center;
    box-sizing: border-box;
    width: calc(100vw - (1.2rem * 2));
    margin: 1.2rem; }
    .root > article .branches .branch:last-child {
      margin-bottom: 0; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > article .branches .branch {
        margin: 0;
        width: calc(50vw - (1.2rem * 2)); } }
    .root > article .branches .branch > section {
      min-height: 14rem;
      background: black;
      color: white;
      padding: 1.2rem 1.2rem;
      transition: all .2s ease-in; }
      .root > article .branches .branch > section h2 {
        font-size: 4rem;
        letter-spacing: -.05em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.5;
        transition: all .2s ease-in; }
      .root > article .branches .branch > section p {
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.5;
        margin: 0;
        margin-bottom: 1.2rem;
        padding: 0 1.2rem; }
      .root > article .branches .branch > section ul {
        transition: all .2s ease-in;
        list-style: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 1.2rem;
        padding: 1.2rem 1.2rem 0; }
        .root > article .branches .branch > section ul li {
          color: #444;
          transition: all .2s ease-in;
          font-style: italic;
          padding: 0 1.2rem 0.6rem;
          line-height: 1.2; }
          .root > article .branches .branch > section ul li a {
            transition: all .2s ease-in;
            color: rgba(255, 255, 255, 0.5);
            font-style: normal;
            font-weight: 500; }
      .root > article .branches .branch > section:hover {
        background: white;
        color: black; }
        .root > article .branches .branch > section:hover ul li {
          color: #bbb; }
          .root > article .branches .branch > section:hover ul li a {
            color: rgba(0, 0, 0, 0.5); }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > article .branches .branch.design {
        justify-self: end;
        align-self: end; } }
    .root > article .branches .branch.design h2, .root > article .branches .branch.design a:hover {
      color: #00C1FF; }
    .root > article .branches .branch.studio h2, .root > article .branches .branch.studio a:hover {
      color: #FF0081; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > article .branches .branch.studio {
        justify-self: start;
        align-self: end; } }
    .root > article .branches .branch.trade h2, .root > article .branches .branch.trade a:hover {
      color: #FFBE00; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > article .branches .branch.trade {
        justify-self: end;
        align-self: start; } }
    .root > article .branches .branch.press h2, .root > article .branches .branch.press a:hover {
      color: white; }
    .root > article .branches .branch.press > section:hover h2, .root > article .branches .branch.press > section:hover a:hover {
      color: black; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > article .branches .branch.press {
        justify-self: start;
        align-self: start; } }

.root > footer {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 1.2rem 3.6rem; }
  @media (min-width: 44em) and (min-height: 44em) {
    .root > footer {
      display: flex;
      flex-direction: row;
      flex-direction: row-reverse; } }
  .root > footer a {
    color: white;
    display: block;
    padding: 0.3rem 0.6rem;
    text-transform: uppercase; }
  .root > footer aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > footer aside.external {
        justify-content: flex-end; } }
    .root > footer aside.external img {
      opacity: .15;
      height: 6rem; }
    .root > footer aside.external .kii {
      width: 100%; }
    .root > footer aside.external .linkedin {
      background: url(../linkedin.svg) no-repeat center center;
      background-size: 90% auto; }
    .root > footer aside.external .github {
      background: url(../github.svg) no-repeat center center;
      background-size: 90% auto; }
    @media (min-width: 44em) and (min-height: 44em) {
      .root > footer aside.meta {
        display: flex;
        justify-content: flex-start; } }
    .root > footer aside.meta .content {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .root > footer aside.meta .content img {
        opacity: 1;
        height: 1.1rem;
        margin: 0.6rem 0; }
        @media (min-width: 44em) and (min-height: 44em) {
          .root > footer aside.meta .content img {
            margin-right: 1.2rem; } }
      .root > footer aside.meta .content p {
        margin: 0;
        opacity: .25; }
